/* Cores Base */
$notas-creme: #fcebd1
$notas-amarelo: #ffdd1a
$notas-laranja: #ea6d35
$notas-vermelho: #e24439
$notas-rosa: #e04086
$notas-marrom: #885d4d
$notas-verde: #01a281
$notas-azul: #01a7e3
$notas-roxo: #814794
$notas-marrom-escuro: #4c404e
$notas-light-background:#fdf9e2
$notas-laranja-background: #d38d72
$notas-azul-background: #60979c

$button-creme-hover: #fcf6e0
$button-azul-hover: #1f2325
$button-laranja-hover: #d28d6e

/* Guia de Tamanhos Responsivos */
$under-sm: 400px
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px
$xxl: 1400px

/* Fontes */

@font-face
    font-family: 'Laura-Regular'
    src: url('/fonts/Laura.ttf') format("truetype")

$laura-regular: 'Laura-Regular'
